@if(Auth::check())
      @if(Auth::user()->username != $r->users)
          <span id='stars' class="ml-3"><b class="f-15-question" id="startrattingsanswer{{$r->id}}">@if($r->rattings > 0){{ number_format($r->rattings, 1)}}@endif</b></span> 

          <span id='stars' class="ml-3"><b class="f-15-question" id="showratting{{ $r->id }}"></b></span> 
          <span id="hidestarsanswer{{ $r->id }}">
          <?php 

              $actualratting = number_format($r->rattings, 0);

            if($actualratting == 1){ ?>
              <i id="answerstar-1-{{$r->id}}"  onclick="starrattingsanswer(1,{{$r->id}})" class="fa fa-star staractive"></i>
              <i id="answerstar-2-{{$r->id}}"  onclick="starrattingsanswer(2,{{$r->id}})" class="fa fa-star-o "></i>
              <i id="answerstar-3-{{$r->id}}"  onclick="starrattingsanswer(3,{{$r->id}})" class="fa fa-star-o "></i>
              <i id="answerstar-4-{{$r->id}}"  onclick="starrattingsanswer(4,{{$r->id}})" class="fa fa-star-o "></i>
              <i id="answerstar-5-{{$r->id}}"  onclick="starrattingsanswer(5,{{$r->id}})" class="fa fa-star-o "></i>
            <?php }elseif ($actualratting == 2){ ?>
              <i id="answerstar-1-{{$r->id}}"  onclick="starrattingsanswer(1,{{$r->id}})" class="fa fa-star staractive"></i>
              <i id="answerstar-2-{{$r->id}}"  onclick="starrattingsanswer(2,{{$r->id}})" class="fa fa-star staractive"></i>
              <i id="answerstar-3-{{$r->id}}"  onclick="starrattingsanswer(3,{{$r->id}})" class="fa fa-star-o "></i>
              <i id="answerstar-4-{{$r->id}}"  onclick="starrattingsanswer(4,{{$r->id}})" class="fa fa-star-o "></i>
              <i id="answerstar-5-{{$r->id}}"  onclick="starrattingsanswer(5,{{$r->id}})" class="fa fa-star-o "></i>
            <?php }elseif ($actualratting == 3){ ?>
              <i id="answerstar-1-{{$r->id}}"  onclick="starrattingsanswer(1,{{$r->id}})" class="fa fa-star staractive"></i>
              <i id="answerstar-2-{{$r->id}}"  onclick="starrattingsanswer(2,{{$r->id}})" class="fa fa-star staractive"></i>
              <i id="answerstar-3-{{$r->id}}"  onclick="starrattingsanswer(3,{{$r->id}})" class="fa fa-star staractive"></i>
              <i id="answerstar-4-{{$r->id}}"  onclick="starrattingsanswer(4,{{$r->id}})" class="fa fa-star-o "></i>
              <i id="answerstar-5-{{$r->id}}"  onclick="starrattingsanswer(5,{{$r->id}})" class="fa fa-star-o "></i>
            <?php }elseif ($actualratting == 4){ ?>
              <i id="answerstar-1-{{$r->id}}"  onclick="starrattingsanswer(1,{{$r->id}})" class="fa fa-star staractive"></i>
              <i id="answerstar-2-{{$r->id}}"  onclick="starrattingsanswer(2,{{$r->id}})" class="fa fa-star staractive"></i>
              <i id="answerstar-3-{{$r->id}}"  onclick="starrattingsanswer(3,{{$r->id}})" class="fa fa-star staractive"></i>
              <i id="answerstar-4-{{$r->id}}"  onclick="starrattingsanswer(4,{{$r->id}})" class="fa fa-star staractive"></i>
              <i id="answerstar-5-{{$r->id}}"  onclick="starrattingsanswer(5,{{$r->id}})" class="fa fa-star-o "></i>
            <?php }elseif ($actualratting == 5){ ?>
              <i id="answerstar-1-{{$r->id}}"  onclick="starrattingsanswer(1,{{$r->id}})" class="fa fa-star staractive"></i>
              <i id="answerstar-2-{{$r->id}}"  onclick="starrattingsanswer(2,{{$r->id}})" class="fa fa-star staractive"></i>
              <i id="answerstar-3-{{$r->id}}"  onclick="starrattingsanswer(3,{{$r->id}})" class="fa fa-star staractive"></i>
              <i id="answerstar-4-{{$r->id}}"  onclick="starrattingsanswer(4,{{$r->id}})" class="fa fa-star staractive"></i>
              <i id="answerstar-5-{{$r->id}}"  onclick="starrattingsanswer(5,{{$r->id}})" class="fa fa-star staractive"></i>
              <?php }elseif ($actualratting == 0){ ?>
              <i id="answerstar-1-{{$r->id}}"  onclick="starrattingsanswer(1,{{$r->id}})" class="fa fa-star-o"></i>
              <i id="answerstar-2-{{$r->id}}"  onclick="starrattingsanswer(2,{{$r->id}})" class="fa fa-star-o "></i>
              <i id="answerstar-3-{{$r->id}}"  onclick="starrattingsanswer(3,{{$r->id}})" class="fa fa-star-o "></i>
              <i id="answerstar-4-{{$r->id}}"  onclick="starrattingsanswer(4,{{$r->id}})" class="fa fa-star-o "></i>
              <i id="answerstar-5-{{$r->id}}"  onclick="starrattingsanswer(5,{{$r->id}})" class="fa fa-star-o "></i>
              <?php } ?>
        </span>
      @else
      @if($r->rattings > 0)
      <span id='stars' class="ml-3"><b class="f-15-question" id="startrattingsanswer{{$r->id}}">@if($r->rattings > 0){{ number_format($r->rattings, 1)}}@endif</b></span> 
      <?php 
            $actualratting = number_format($r->rattings, 0);
            if($actualratting == 1){ ?>
              <i onclick="cantrate()" class="fa fa-star staractive"></i>
              <i onclick="cantrate()"  class="fa fa-star-o "></i>
              <i onclick="cantrate()"  class="fa fa-star-o "></i>
              <i onclick="cantrate()"  class="fa fa-star-o "></i>
              <i onclick="cantrate()"  class="fa fa-star-o "></i>
            <?php }elseif ($actualratting == 2){ ?>
              <i onclick="cantrate()"  class="fa fa-star staractive"></i>
              <i onclick="cantrate()"  class="fa fa-star staractive"></i>
              <i onclick="cantrate()"  class="fa fa-star-o "></i>
              <i onclick="cantrate()"  class="fa fa-star-o "></i>
              <i onclick="cantrate()"  class="fa fa-star-o "></i>
            <?php }elseif ($actualratting == 3){ ?>
              <i onclick="cantrate()"  class="fa fa-star staractive"></i>
              <i onclick="cantrate()"  class="fa fa-star staractive"></i>
              <i onclick="cantrate()" class="fa fa-star-o "></i>
              <i onclick="cantrate()" class="fa fa-star-o "></i>
              <i onclick="cantrate()"  class="fa fa-star-o "></i>
            <?php }elseif ($actualratting == 4){ ?>
              <i onclick="cantrate()" class="fa fa-star staractive"></i>
              <i onclick="cantrate()" class="fa fa-star staractive"></i>
              <i onclick="cantrate()" class="fa fa-star staractive"></i>
              <i onclick="cantrate()" class="fa fa-star staractive"></i>
              <i onclick="cantrate()" class="fa fa-star-o "></i>
            <?php }elseif ($actualratting == 5){ ?>
              <i onclick="cantrate()" class="fa fa-star staractive"></i>
              <i onclick="cantrate()" class="fa fa-star staractive"></i>
              <i onclick="cantrate()" class="fa fa-star staractive"></i>
              <i onclick="cantrate()" class="fa fa-star staractive"></i>
              <i onclick="cantrate()" class="fa fa-star staractive"></i>
            <?php } ?>
          @endif
      @endif
  @else
      @if($r->rattings > 0)
      <span id='stars' class="ml-3"><b class="f-15-question" id="startrattingsanswer{{$r->id}}">@if($r->rattings > 0){{ number_format($r->rattings, 1)}}@endif</b></span> 
      <?php 
            $actualratting = number_format($r->rattings, 0);
            if($actualratting == 1){ ?>
              <i onclick="showlogin()" class="fa fa-star staractive"></i>
              <i onclick="showlogin()"  class="fa fa-star-o "></i>
              <i onclick="showlogin()"  class="fa fa-star-o "></i>
              <i onclick="showlogin()"  class="fa fa-star-o "></i>
              <i onclick="showlogin()"  class="fa fa-star-o "></i>
            <?php }elseif ($actualratting == 2){ ?>
              <i onclick="showlogin()"  class="fa fa-star staractive"></i>
              <i onclick="showlogin()"  class="fa fa-star staractive"></i>
              <i onclick="showlogin()"  class="fa fa-star-o "></i>
              <i onclick="showlogin()"  class="fa fa-star-o "></i>
              <i onclick="showlogin()"  class="fa fa-star-o "></i>
            <?php }elseif ($actualratting == 3){ ?>
              <i onclick="showlogin()"  class="fa fa-star staractive"></i>
              <i onclick="showlogin()"  class="fa fa-star staractive"></i>
              <i onclick="showlogin()" class="fa fa-star-o "></i>
              <i onclick="showlogin()" class="fa fa-star-o "></i>
              <i onclick="showlogin()"  class="fa fa-star-o "></i>
            <?php }elseif ($actualratting == 4){ ?>
              <i onclick="showlogin()" class="fa fa-star staractive"></i>
              <i onclick="showlogin()" class="fa fa-star staractive"></i>
              <i onclick="showlogin()" class="fa fa-star staractive"></i>
              <i onclick="showlogin()" class="fa fa-star staractive"></i>
              <i onclick="showlogin()" class="fa fa-star-o "></i>
            <?php }elseif ($actualratting == 5){ ?>
              <i onclick="showlogin()" class="fa fa-star staractive"></i>
              <i onclick="showlogin()" class="fa fa-star staractive"></i>
              <i onclick="showlogin()" class="fa fa-star staractive"></i>
              <i onclick="showlogin()" class="fa fa-star staractive"></i>
              <i onclick="showlogin()" class="fa fa-star staractive"></i>
            <?php } ?>
          @endif
  @endif